<?xml version="1.0" encoding="utf-8"?>
<Content Key="dffe2ebd-35b8-4260-bd2e-3ca7f224990e" Alias="Bluesky" Level="2">
  <Info>
    <Parent Key="d308e41f-f756-4c35-bd24-bce951243b70">Home</Parent>
    <Path>/Home/Bluesky</Path>
    <Trashed>false</Trashed>
    <ContentType>blueskyPage</ContentType>
    <CreateDate>2025-08-17T21:07:32</CreateDate>
    <NodeName Default="Bluesky" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b54e5d78-f65d-4b23-a2ac-3edc320672ed">BlueskyPage</Template>
  </Info>
  <Properties>
    <amountOfPosts>
      <Value><![CDATA[10]]></Value>
    </amountOfPosts>
    <description>
      <Value><![CDATA[Welcome to my bluesky page. This is a page dedicated  to my bluesky account and it will show the latests posts from my profile in here. You can load more as well or visit bluesky directly. Hit me a follow if you have a bluesky profile yourself.]]></Value>
    </description>
    <enableLoadMore>
      <Value><![CDATA[1]]></Value>
    </enableLoadMore>
    <pageTitle>
      <Value><![CDATA[Bluesky]]></Value>
    </pageTitle>
    <profile>
      <Value><![CDATA[novazgaming.bsky.social]]></Value>
    </profile>
  </Properties>
</Content>