<?xml version="1.0" encoding="utf-8"?>
<Content Key="88a8df69-e50e-4de2-b37c-03e9e151e6b6" Alias="In vitae sem eleifend" Level="3">
  <Info>
    <Parent Key="abd40e72-99db-43e0-ae9b-7ce1bafce2a3">Nyheder</Parent>
    <Path>/Home/Nyheder/InVitaeSemEleifend</Path>
    <Trashed>false</Trashed>
    <ContentType>newsItemPage</ContentType>
    <CreateDate>2025-06-10T21:52:18</CreateDate>
    <NodeName Default="In vitae sem eleifend" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="febf988c-9ca4-4ae4-a6c2-90553c894f35">NewsItemPage</Template>
  </Info>
  <Properties>
    <attachements>
      <Value><![CDATA[]]></Value>
    </attachements>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bodyText>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022font-family: \u0026quot;Open Sans\u0026quot;, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: justify; text-indent: 0px; text-transform: none; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; white-space: normal; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; float: none; display: inline !important;\u0022\u003EIn vitae sem eleifend, aliquam justo auctor, mollis erat. Suspendisse tellus justo, ultrices ac turpis ut, condimentum tincidunt nisl. Morbi nec dolor sem. Nullam pretium porta fermentum. Ut vel dictum nibh. Donec lacinia nisl eu\u003C/span\u003E\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </bodyText>
    <featured>
      <Value><![CDATA[]]></Value>
    </featured>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <publishDate>
      <Value><![CDATA[2025-06-05T21:50:50]]></Value>
    </publishDate>
    <relatedLinks>
      <Value><![CDATA[]]></Value>
    </relatedLinks>
    <summary>
      <Value><![CDATA[In vitae sem eleifend, aliquam justo auctor, mollis erat. Suspendisse tellus justo, ultrices ac turpis ut, condimentum tincidunt nisl. Morbi nec dolor sem. Nullam pretium porta fermentum. Ut vel dictum nibh. Donec lacinia nisl eu faucibus viverra]]></Value>
    </summary>
    <title>
      <Value><![CDATA[In vitae sem eleifend]]></Value>
    </title>
  </Properties>
</Content>