<?xml version="1.0" encoding="utf-8"?>
<Content Key="abd40e72-99db-43e0-ae9b-7ce1bafce2a3" Alias="Nyheder" Level="2">
  <Info>
    <Parent Key="d308e41f-f756-4c35-bd24-bce951243b70">Home</Parent>
    <Path>/Home/Nyheder</Path>
    <Trashed>false</Trashed>
    <ContentType>news</ContentType>
    <CreateDate>2025-06-07T21:19:33</CreateDate>
    <NodeName Default="Nyheder" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a8e49eb4-8863-4397-9839-713e48884eff">News</Template>
  </Info>
  <Properties>
    <categoryFilterOptions>
      <Value><![CDATA[[
  "Announcements",
  "Community Events",
  "Tutorials",
  "Tips \u0026 Tricks",
  "Feedback"
]]]></Value>
    </categoryFilterOptions>
    <defaultSortOrder>
      <Value><![CDATA[[
  "Newest first"
]]]></Value>
    </defaultSortOrder>
    <description>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003EHer er nyheder i Novaz gaming community\u0027en. Det vil ikke v\u00E6re hver gang der starter en stream eller n\u00E5r der uploades en ny video op (med undtagelse hvis det er starten p\u00E5 en serie). Det handler mere om de generelle nyheder. Derfor er det ikke sikkert der kommer en masse nyheder herinde og nu til Lorem Ipsum! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel vestibulum nunc. Suspendisse nisi nulla, auctor eget rutrum in, consequat in orci. Sed efficitur odio vitae elit ullamcorper fermentum. Sed interdum felis quis metus ornare, ut scelerisque metus pellentesque. \u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  }
}]]></Value>
    </description>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "af2405e0-ce42-4653-9fbe-3d4cc91c3821",
    "mediaKey": "db8d6858-dcac-448b-9ad0-396368399c92",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <newsPerPage>
      <Value><![CDATA[9]]></Value>
    </newsPerPage>
    <showFeaturedNews>
      <Value><![CDATA[]]></Value>
    </showFeaturedNews>
    <title>
      <Value><![CDATA[Nyheder]]></Value>
    </title>
  </Properties>
</Content>