<?xml version="1.0" encoding="utf-8"?>
<Content Key="def17d56-0db1-4433-b78e-954e32ded344" Alias="PrettyPrinted" Level="3">
  <Info>
    <Parent Key="1afdece5-666f-4fbe-a863-87b690e992cc">Youtube</Parent>
    <Path>/Home/Youtube/PrettyPrinted</Path>
    <Trashed>false</Trashed>
    <ContentType>youtubePage</ContentType>
    <CreateDate>2025-06-27T22:15:27</CreateDate>
    <NodeName Default="PrettyPrinted" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="62241038-3551-4eb9-a115-037093e69b19">YoutubePage</Template>
  </Info>
  <Properties>
    <amountOfVideos>
      <Value><![CDATA[9]]></Value>
    </amountOfVideos>
    <channelId>
      <Value><![CDATA[UC-QDfvrRIDB6F0bIO4I4HkQ]]></Value>
    </channelId>
    <featuredVideoUrl>
      <Value><![CDATA[PgCN5e8u968]]></Value>
    </featuredVideoUrl>
    <menuName>
      <Value><![CDATA[PrettyPrinted]]></Value>
    </menuName>
    <pageTitle>
      <Value><![CDATA[Pretty Printed]]></Value>
    </pageTitle>
    <youtubeChannelName>
      <Value><![CDATA[prettyprinted]]></Value>
    </youtubeChannelName>
  </Properties>
</Content>