<?xml version="1.0" encoding="utf-8"?>
<Content Key="81cfe35f-b4c5-466f-9a95-ce35d5c3f454" Alias="PrimeTime" Level="3">
  <Info>
    <Parent Key="1afdece5-666f-4fbe-a863-87b690e992cc">Youtube</Parent>
    <Path>/Home/Youtube/PrimeTime</Path>
    <Trashed>false</Trashed>
    <ContentType>youtubePage</ContentType>
    <CreateDate>2025-06-27T22:15:05</CreateDate>
    <NodeName Default="PrimeTime" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="62241038-3551-4eb9-a115-037093e69b19">YoutubePage</Template>
  </Info>
  <Properties>
    <amountOfVideos>
      <Value><![CDATA[8]]></Value>
    </amountOfVideos>
    <channelId>
      <Value><![CDATA[UC8ENHE5xdFSwx71u3fDH5Xw]]></Value>
    </channelId>
    <featuredVideoUrl>
      <Value><![CDATA[7LuwPdp-_4c]]></Value>
    </featuredVideoUrl>
    <menuName>
      <Value><![CDATA[PrimeTime]]></Value>
    </menuName>
    <pageTitle>
      <Value><![CDATA[The Prime time]]></Value>
    </pageTitle>
    <youtubeChannelName>
      <Value><![CDATA[ThePrimeTimeagen]]></Value>
    </youtubeChannelName>
  </Properties>
</Content>