<?xml version="1.0" encoding="utf-8"?>
<Content Key="10abc817-d533-4ae1-977c-5ea366d48f48" Alias="StreamingPage" Level="2">
  <Info>
    <Parent Key="d308e41f-f756-4c35-bd24-bce951243b70">Home</Parent>
    <Path>/Home/StreamingPage</Path>
    <Trashed>false</Trashed>
    <ContentType>streamingPage</ContentType>
    <CreateDate>2025-08-18T20:17:22</CreateDate>
    <NodeName Default="StreamingPage" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5b4a1269-696a-43c9-a0f8-ec3080c97b26">StreamingPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[This page is dedicated to Novaz's livestreams.]]></Value>
    </description>
    <pageTitle>
      <Value><![CDATA[Livestreams]]></Value>
    </pageTitle>
    <twitchUsername>
      <Value><![CDATA[Quin69]]></Value>
    </twitchUsername>
    <youtubeChannelName>
      <Value><![CDATA[]]></Value>
    </youtubeChannelName>
  </Properties>
</Content>