<?xml version="1.0" encoding="utf-8"?>
<Content Key="4d03d54c-d621-418e-a9d7-cc4605c8f3d9" Alias="TheRealSeniorDev" Level="3">
  <Info>
    <Parent Key="1afdece5-666f-4fbe-a863-87b690e992cc">Youtube</Parent>
    <Path>/Home/Youtube/TheRealSeniorDev</Path>
    <Trashed>false</Trashed>
    <ContentType>youtubePage</ContentType>
    <CreateDate>2025-06-27T22:18:51</CreateDate>
    <NodeName Default="TheRealSeniorDev" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="62241038-3551-4eb9-a115-037093e69b19">YoutubePage</Template>
  </Info>
  <Properties>
    <amountOfVideos>
      <Value><![CDATA[9]]></Value>
    </amountOfVideos>
    <channelId>
      <Value><![CDATA[UC07G4rT6ZvDv0lokaVHKeQw]]></Value>
    </channelId>
    <featuredVideoUrl>
      <Value><![CDATA[EoqH9bbxlrw]]></Value>
    </featuredVideoUrl>
    <menuName>
      <Value><![CDATA[SeniorDev]]></Value>
    </menuName>
    <pageTitle>
      <Value><![CDATA[The real senior dev]]></Value>
    </pageTitle>
    <youtubeChannelName>
      <Value><![CDATA[therealseniordev]]></Value>
    </youtubeChannelName>
  </Properties>
</Content>