<?xml version="1.0" encoding="utf-8"?>
<Content Key="1afdece5-666f-4fbe-a863-87b690e992cc" Alias="Youtube" Level="2">
  <Info>
    <Parent Key="d308e41f-f756-4c35-bd24-bce951243b70">Home</Parent>
    <Path>/Home/Youtube</Path>
    <Trashed>false</Trashed>
    <ContentType>youtubeParentPage</ContentType>
    <CreateDate>2025-06-27T22:12:56</CreateDate>
    <NodeName Default="Youtube" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="77b56e22-68f2-4552-8bbe-b98425209951">YoutubeParentPage</Template>
  </Info>
  <Properties />
</Content>