<?xml version="1.0" encoding="utf-8"?>
<Media Key="db8d6858-dcac-448b-9ad0-396368399c92" Alias="news-page-stock-photo.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/newsPageStockPhotojpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-07T21:22:22</CreateDate>
    <NodeName Default="news-page-stock-photo.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/04rmw1of/news-page-stock-photo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>