<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="158a62eb-0664-429c-b730-7bf32778ead2" Alias="youtubeParentPage" Level="1">
  <Info>
    <Name>YoutubeParentPage</Name>
    <Icon>icon-video color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is acting as the parent for the youtube pages</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>YoutubeParentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="77b56e22-68f2-4552-8bbe-b98425209951">YoutubeParentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="02ed225a-d4f7-4ea9-a27b-cab9f7836e09" SortOrder="0">youtubePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>